<header class="header">
    <div class="header-container">
        {% include 'city/partial/navigation.html' %}
        <div class="header-center">
            <div class="header-container-right header-container-item">
{#                <img src="../../../static/city/logo1.jpg" alt="ازنا"#}
{#                     class="header-container-logo header-container-item">#}
                <input class="header-container-search " type="text" placeholder="جستجو در سایت">
            </div>
            <div class="header-container-center header-container-item">
                <h2 class="header-container-title ">ازنا پایتخت کوهنوردی ایران</h2>
            </div>
            <div class="header-container-left header-container-item">
                {#        <a href="{% url 'city:home_page' %}" class="header-container-home-link">#}
                {#          <i class="fa fa-home header-container-home "></i>#}
                {#        </a>#}
            </div>
        </div>
    </div>

</header>