{% extends 'city/base.html' %}
{% load static %}
{#{% block extra_css %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'cryptocur/css/accounts.css' %}">#}
{#{% endblock %}#}

{#    <div class="base-account-page">#}
{% block body %}
    <div class="dashboard-container ">
        <div class="details-image-container text-center">
            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" alt="{{ profile.user.get_full_name }}"
                     class="profile-image">
            {% else %}
                <img src="{% static 'cryptocur/images/profile-image.png' %}"
                     alt="{{ profile.user.get_full_name }}" class="profile-image">
            {% endif %}
            <hr>
        </div>
        {% if user.is_staff %}
            <div class="details-work-container dash-item">
                <ul class="item-list">
                    <li class="add-item"><a class="add-new-item add-news" href="{% url 'accounts:add_news_view' %}">اضافه
                        کردن خبر</a></li>
                    <li class="add-item"><a class="add-new-item add-article" href="">اضافه کردن مقاله</a></li>
                    <li class="add-item"><a class="add-new-item add-article" href="{% url 'accounts:news_list' %}">خبرهای
                        من</a></li>
                    <li class="add-item"><a class="add-new-item add-article" href="">مقاله های من</a></li>
                </ul>
            </div>
        {% endif %}
        <div class="profile-button text-center">
            <a href="#">
                <button class="btn btn-dark"><i class="fa fa-edit ml-2"></i> ویرایش نمایه</button>
            </a>
            <a href="#">
                <button class="btn btn-warning"><i class="fa fa-key ml-2"></i> تغییر گذرواژه</button>
            </a>
        </div>
    </div>
    {#    </div>#}

    {% block extra_body %}{% endblock %}
{% endblock %}

