{% extends 'city/base.html' %}
{% load static %}
{#{% load jformat %}#}
{#{% load humanize %}#}
{% block extra_headers %}
{% endblock %}
{% block title %}نمایه کاربری {{ super }}{% endblock %}
{% block body %}
    <div class="profile-page">
        <div class="profile-detail-container mx-auto font-vazir md:max-w-screen-lg px-2 my-8 grid grid-cols-3 gap-2">
            {% include 'accounts/partial/_dashboard.html' %}
            <div class="details-container bg-white border rounded col-span-3 md:col-span-2">
                <div class="border-b p-4 bg-gray-200 font-bold">
                    <h4 class="profile-detail-title details-item">اطلاعات حساب کاربری</h4>
                </div>
                <div class="details-name details-item p-4 text-gray-500 text-sm">
                    <div class="flex gap-1">
                        <div class="col-2 text-right">
                            <span class="text-muted">
                                <i class="fa fa-user"></i>
                                نام کاربری:
                            </span>
                        </div>
                        <div class="col-4 input-value font-bold text-gray-700">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="flex gap-1 my-6">
                        <div class="">
                            <span class="details-name-title"><i class="fa fa-address-card ml-2">
                            </i>نام و نام خانوادگی :
                            </span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700">
                            <span>
                                {% if profile.user.get_full_name %}{{ profile.user.get_full_name }}
                                {% else %}{{ profile.user.username }}{% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="my-6 flex gap-1">
                        <div class="text-gray-500">
                            <span class="details-name-title text-muted"><i class="fa fa-birthday-cake ml-2"> </i>تاریخ
                                تولد
                                :</span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700">
                            <span>{{ profile.birth_date|date:"Y/n/j" }}</span></div>
                    </div>

                    <div class="my-6 flex gap-1">
                        <div class="col-xl-3 col-sm-5">
                            <span class="details-name-title text-muted"><i class="fa fa-mobile-phone ml-2"></i> تلفن
                                همراه
                                :</span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700"><span>{{ profile.mobile }}</span></div>
                    </div>

                    <div class="my-6 flex gap-1">
                        <div class="col-xl-3 col-sm-5">
                            <span class="details-name-title text-muted"><i class="fa fa-envelope ml-2"></i>ایمیل
                                :</span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700"><span>{{ profile.user.email }}</span>
                        </div>
                    </div>

                    <div class="my-6 flex gap-1">
                        <div class="col-xl-3 col-sm-5">
                            <span class="details-name-title text-muted"><i class="fa fa-home ml-2"></i>آدرس :</span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700 item-text-box"><span>{% if profile.address %}
                            {{ profile.address }}{% endif %}</span></div>
                    </div>

                    <div class="my-6 flex gap-1">
                        <div class="col-xl-3 col-sm-5">
                            <span class="details-name-title text-muted"><i class="fa fa-vcard-o ml-2"></i>بیوگرافی
                                :</span>
                        </div>
                        <div class="details-name-value font-bold text-gray-700"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}