{% extends 'city/base.html' %}
{% load static %}
{#{% load jformat %}#}
{#{% load humanize %}#}
{% block extra_headers %}
{% endblock %}
{% block title %}ثبت نام {{ super }}{% endblock %}
{% block body %}
    <div class="register-page-container">
        <div class="container-form mx-auto font-vazir md:max-w-screen-lg px-4 md:px-2 my-8 flex justify-center">
            <div class="container-form-register w-96">
                <form action="" method="post" name="frm_register" class="form-register shadow bg-white rounded-lg p-4">
                    {% csrf_token %}
                    <h5 class="title-form text-center my-4">ثبت نام در سایت</h5>
                    <img class="w-64 h-64 mx-auto my-8 flex justify-center" src="{% static 'city/images/register.png' %}" alt="ثبت نام در سایت">
                    <div class="tamasha w-full border border-gray-400 my-4 rounded overflow-hidden flex">
                        <i class="fa fa-address-card phone-icon text-gray-300 p-2"></i>
                        <input type="text" name="username" class="form-control text-xs p-2 w-full h-full border-0 focus:border-0" placeholder="نام کاربری">
                    </div>
                    <div class="tamasha w-full border border-gray-400 my-4 rounded overflow-hidden flex">
                        <i class="fa fa-mobile-phone phone-icon text-gray-300 p-2"></i>
                        <input type="text" name="mobile" class="form-control text-xs p-2 w-full h-full border-0 focus:border-0" maxlength="11" placeholder="موبایل">
                    </div>

                    <div class="tamasha w-full border border-gray-400 my-4 rounded overflow-hidden flex">
                        <i class="fa fa-key phone-icon text-gray-300 p-2"></i>
                        <input type="password" name="password" class="form-control text-xs p-2 w-full h-full border-0 focus:border-0" placeholder="گذرواژه">
                    </div>
                    <div class="button-submit flex justify-end my-8">
                        <button type="submit" class="btn btn-primary w-32 h-8 rounded bg-primary text-white hover:shadow transition ease-in duration-150">ثبت نام</button>
                    </div>

                    <div class="other-link text-gray-600">
                        <a class="text-sm hover:text-gray-800 transition ease-in duration-150" href="{% url 'accounts:login' %}">
                            <i class="fa fa-user pl-2"></i>
                            ورود به سایت</a>
                        {#                <a href="#"><i class="fas fa-lock pl-2" style="font-size: 20px;"></i>رمز عبور خود را فراموش کرده ام !</a>#}
                    </div>

                </form>
            </div>
        </div>
        {% if message_in_register %}
            <div class="bg-red-300 w-96 my-8 font-vazir flex justify-center rounded p-2 mx-auto">{{ message_in_register }}</div>
        {% endif %}
    </div>
{% endblock %}