<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'cryptocur/css/main.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>500 SERVER ERROR</title>
</head>
<body>
<div class="cryptoi-container">
    <div class="error-page-container">
        <div class="error-image-container"><img class="error-image" src="{% static 'cryptocur/images/500-server-error.png' %}"
                                                alt="error"></div>
        <div class="title-error-container text-center"><h3 class="title-error text-center">متأسفیم !</h3></div>
        <div class="title-error-container text-center"><h3 class="title-error text-center">مشکلی در سرور پیش آمده است . لطفاً دقایقی دیگر مجدداً تلاش کنید.</h3></div>
    </div>
</div>
</body>
</html>
