{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="{% static 'city/css/bootstrap.min.css' %}">#}
{#    <link rel="stylesheet" href='{% static 'city/css/main.css' %}'>#}
    <link rel="stylesheet" href='{% static 'city/css/styles.css' %}'>
    <link rel="stylesheet" href="{% static 'city/css/swiper.min.css' %}">
    {#    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}{% endblock %}دیار ازنا</title>
</head>
<body class="bg-gray-100">
{% include 'city/partial/header.html' %}
{#{% include 'city/partial/navigation.html' %}#}
{% block body %}{% endblock %}
{% include 'city/partial/footer.html' %}
<script src="{% static 'city/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'city/js/popper.min.js' %}"></script>
<script src="{% static 'city/js/swiper.min.js' %}"></script>
<script src="{% static 'city/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'city/js/swiper.thumbnails.js' %}"></script>
{#<script src="{% static 'city/js/bootstrap.min.js' %}"></script>#}
<script src="{% static 'city/js/fontawesome.min.js' %}"></script>
{#<script src="{% static 'city/js/swiper-bundle.js' %}"></script>#}

<script src="{% static 'city/js/script.js' %}"></script>
</body>
</html>