{% extends 'city/base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block title %}{{ super }}{% endblock %}
{% block body %}
    <main class="main-container">
        <div class="main-content">
            {#            <div class="swiper-container swiper-first-slide">#}
            {#                <div class="swiper-wrapper">#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/oshtrankooh2.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/daretakht0.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {##}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/azna-width-3.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/gahar2.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/daretakht2.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/oshtrankooh1.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/oshtrankooh2.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                    <div class="swiper-slide">#}
            {#                        <img class="slide" src="{% static 'city/images/tonel1.jpg' %}" alt="دیار ازنا">#}
            {#                    </div>#}
            {#                </div>#}
            {#                <!-- Add Pagination -->#}
            {#                <div class="swiper-pagination"></div>#}
            {#                <!-- Add Arrows -->#}
            {#                <div class="swiper-button-next"></div>#}
            {#                <div class="swiper-button-prev"></div>#}
            {#            </div>#}

            <div class="main-content-about container">
                <h2 class="about-azna">درباره ازنا</h2>
                <p>ازنا یکی از شهرهای استان لرستان واقع در خاور این استان است که به پایتخت طبیعت لرستان معروف است به
                    گونه ای که شهرستان ازنا یک اکو سیستم طبیعی است و بیش از ۳ هزار نقطه گردشگری دارد. این شهر مرکز
                    شهرستان ازنا است و بین شهرهای الیگودرز، دورود، اراک، خمین و شازند قرار گرفته‌است. ازنا درگذشته بخشی
                    از استان مرکزی بود و در دومین تقسیمات کشوری در ۱۶ آبان سال ۱۳۱۶ در حوزه لرستان قرار گرفت. این شهردر
                    سال ۱۳۱۷ به دهستان و در سال ۱۳۳۰ به شهر ارتقاء پیدا کرد و دارای شهرداری شد. در سال ۱۳۴۰ ازنا به
                    عنوان مرکز بخش جاپلق در حوزه شهرستان الیگودرز ارتقاء پیدا نمود. درسال ۱۳۷۳ با تأسیس فرمانداری توسط
                    علی محمد بشارتی وزیر کشور، این بخش از الیگودرز جدا و به شهرستان تبدیل شد و شهر ازنا مرکز آن شد. ازنا
                    از نظر صنعتی و اقتصادی و گردشگری اهمیت دارد.</p>
                <div class="collapse" id="continue">
                    <p>{{ city.about }}</p>
                    {#              <a href="#" id='close-continue' data-toggle="collapse" data-target="#continue" onclick="return_tag()">بستن</a>#}
                </div>
                <a href="#" id='open-continue' data-toggle="collapse" data-target="#continue" onclick="change_name()">ادامه
                    ...</a>

            </div>
            {% for c in categorys %}
                <div class="main-content-part">
                    <div class="header-category container">
                        <h4 class="category-title">{{ c.name }}</h4>
                        <a class="view-all-category-link" href="{{ c.get_absolute_url }}">مشاهده همه<span
                                class="mr-1">>></span></a>
                    </div>
                    <div class="btn-pn text-left container">
                        <div class="btn-next text-center fa fa-angle-right"></div>
                        <div class="btn-prev text-center fa fa-angle-left"></div>
                    </div>

                    <div class="swiper-container swiper-view container">
                        <div class="swiper-wrapper">
                            {% for x in places %}
                                {% if x.category == c %}
                                    <div class="swiper-slide">
                                        <a href="{{ x.get_absolute_url }}" class="category-item-link">
                                            <img src="{{ x.image.url }}" alt="{{ x.name }}" class="category-item-image">
                                            <div class="top">
                                                <h2 class="category-item-name">{{ x.name }}</h2>
                                            </div>
                                            <div class="bottom">
                                                <p class="category-item-des text-justify">{{ x.description }}</p>
                                                <span>...</span>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for x in hotel %}
                                {% if x.category == c %}
                                    <div class="swiper-slide">
                                        <a href="{{ x.get_absolute_url }}" class="category-item-link">
                                            <img src="{{ x.image.url }}" alt="{{ x.name }}"
                                                 class="category-item-image text-center">
                                            <div class="title-person">
                                                <h3 class="category-item-name"><span
                                                        class="text-danger"></span>{{ x.name }}</h3>
                                            </div>
                                            <div class="down">
                                                <div class="d-inline-block"><p>آدرس:</p><h6>{{ x.address }}</h6></div>
                                                <div class="d-inline-block"><p>تلفن تماس:</p><h6
                                                        class="text-secondary">{{ x.phone }}</h6></div>
                                            </div>
                                            <div class="bottom">

                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for x in soghats %}
                                {% if x.category == c %}
                                    <div class="swiper-slide">
                                        <a href="{{ x.get_absolute_url }}" class="category-item-link">
                                            <img src="{{ x.image.url }}" alt="{{ x.name }}" class="category-item-image">
                                            <div class="top">
                                                <h3 class="category-item-name">{{ x.name }}</h3>
                                            </div>
                                            <div class="bottom">

                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for x in martyrs %}
                                {% if x.category == c %}
                                    <div class="swiper-slide">
                                        <a href="{{ x.get_absolute_url }}" class="category-item-link">
                                            <img src="{{ x.image.url }}" alt="{{ x.filename }}"
                                                 class="category-item-image text-center">
                                            <div class="title-person">
                                                <h3 class="category-item-name"><span
                                                        class="text-danger">شهید</span>{{ x.fullname }}</h3>
                                            </div>
                                            <div class="down">
                                                <h6 class="">{{ x.place_of_death }}</h6>
                                                <h6 class="text-danger">{{ x.date_of_death }}</h6>
                                            </div>
                                            <div class="bottom">

                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                {#                <div class="category-desc-container container">#}
                {#                    <p class="about-category">{{ c.body|safe }}</p>#}
                {#                </div>#}
            {% endfor %}


            {#            <div class="main-content-tarikhi">#}
            {#                <div class="header-place">#}
            {#                    <h5 class="place-title">تاریخی - مذهبی</h5>#}
            {#                    <a class="view-all-place-link" href="#">مشاهده همه<span class="mr-1">>></span></a>#}
            {#                </div>#}
            {#                <div class="place-container">#}
            {#                    {% for x in tarikhi %}#}
            {#                        <a href="#" class="place-item-link">#}
            {#                            <img src="{{ x.image.url }}" alt="" class="place-item-image">#}
            {#                            <div class="top">#}
            {#                                <h6 class="place-item-name">{{ x.place_name }}</h6>#}
            {#                            </div>#}
            {#                            <div class="bottom">#}
            {##}
            {#                            </div>#}
            {#                        </a>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="main-content-industrial">#}
            {#                <div class="header-place">#}
            {#                    <h5 class="place-title">کارخانجات</h5>#}
            {#                    <a class="view-all-place-link" href="#">مشاهده همه<span class="mr-1">>></span></a>#}
            {#                </div>#}
            {#                <div class="place-container">#}
            {#                    {% for x in karkhane %}#}
            {#                        <a href="#" class="place-item-link">#}
            {#                            <img src="{{ x.image.url }}" alt="" class="place-item-image">#}
            {#                            <div class="top">#}
            {#                                <h6 class="place-item-name">{{ x.place_name }}</h6>#}
            {#                            </div>#}
            {#                            <div class="bottom">#}
            {##}
            {#                            </div>#}
            {#                        </a>#}
            {#                    {% endfor %}#}
            {#                </div>#}
            {#            </div>#}


        </div>
        {#    <div class="main-side-left">#}
        {##}
        {#      </div>#}

    </main>
{% endblock %}
