{% extends 'city/base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block title %}{{ super }} {{ place.name }} | {% endblock %}
{% block body %}
    <main class="main-container md:max-w-screen-lg mx-auto px-2 my-8 font-vazir">
        {#        <div class="container category-details-container">#}
        <div class="category-details-image-container border border-gray-200 rounded bg-white">
            <div class="border-b-2 border-gray-300 p-4 md:p-6 flex items-center">
                <h1 class="category-details-name-container text-lg">{{ place.name }}</h1>
            </div>
            <div class="flex justify-center p-2 md:p-4">
                {% if place.image %}
                    <img class="category-details-image w-full md:h-144 rounded-lg" src="{{ place.image.url }}" alt="{{ place.name }}">
                {% endif %}
            </div>
            <div class="px-4 py-2 md:py-8 flex items-center">
                <h1 class="category-details-name-container text-lg">{{ place.name }}</h1>
            </div>
            <div class="px-4 py-2 md:py-8">
                <p class="category-details-description-container text-justify leading-10">{{ place.description }}</p>
            </div>
        </div>
        {#        </div>#}
    </main>


    <script src="{% static 'city/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'city/js/popper.min.js' %}"></script>
    <script src="{% static 'city/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'city/js/script.js' %}"></script>
{% endblock %}